.container {
  padding: 20px;
  font-family: Arial;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Layout fix */
.layout {
  display: flex;
  gap: 20px;
  flex: 1;
  min-height: 0;
}

/* Bigger chart */
.chart {
  flex: 3;
  min-height: 500px;
}

/* Better table */
.table {
  flex: 1.5;
  overflow: auto;
  border: 1px solid #ccc;
  max-height: 100%;
}

/* Filters */
.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

th {
  position: sticky;
  top: 0;
  background: #111;
  color: white;
}

td,
th {
  border: 1px solid #ddd;
  padding: 6px;
}

tr.selected {
  background-color: rgba(255, 255, 0, 0.4);
}